#userManage-container {
    padding: 20px;
}
#userManage-container .userManage-form {
    margin-bottom: 40px;
}

#userManage-container .ant-form-item{
    margin-top: 10px;
}

#goodsManage-container .ant-btn {
    margin-left: 10px;
}
